html,
body,
svg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.node text {
    font: 0.8em sans-serif;
    cursor: default;
    z-index: 18;
}

.link {
    stroke: #999;
    stroke-opacity: 0.6;
}
